{% block bgURL %}<style>body {background-image: url("/static/cogs.jpg");}</style>{% endblock %}

{% block main %}
    <div class="clear goAbout">
        <div class="columns">
            <div class="column itemOne">
                <h1 class="contentText">Bio</h1>
                <p class="contentText">A seven piece juggernaut of delightfully poetic, magically delicious, churning, spasedelic, steam- powered, carnival rock opera.</p>
            </div>
            <div class="column itemTwo">
                <img src='/static/tommyspasesinging.jpg' alt='Tommy Spase Performing'>
            </div>
        </div>
    </div>

{% endblock %}
