{% block bgURL %}<style>body {background-image: url("/static/store.jpg");}</style>{% endblock %}

{% block head %}
    <script src="/static/storescript.js"></script>
{% endblock %}
{% block main %}
<div class="clear goStore">
    <div class="storePad" id="product-component-1583532484899"></div>
    <div class="storePad" id="product-component-1586822823609"></div>
    <div class="storePad" id="product-component-4e13f3dac63"></div>
    <a href="https://geo.itunes.apple.com/us/album/the-alchemist/1436870747?app=itunes" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-09-19T00:00:00Z&amp;kind=album&amp;bubble=itunes_music) no-repeat;width:140px;height:41px;"></a>
    <div class="storePad" id="product-component-3daeb3e9fb0"></div>
    <div class="storePad" id="product-component-635483a34aa"></div>
    <a href="https://geo.itunes.apple.com/us/album/superhero/274866498?app=itunes" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2008-02-04&amp;kind=album&amp;bubble=itunes_music) no-repeat;width:140px;height:41px;"></a>
    <div class="storePad" id="product-component-85d82e5bd86"></div>
    <div class="storePad" id="product-component-545b19e9011"></div>
    <div class="row">
        <div class="col storePad" id="product-component-1560747217863"></div>
        <div class="col storePad" id="product-component-1560747723297"></div>
        <div class="col storePad" id="product-component-1560746374044"></div>
        <div class="col storePad" id="product-component-1560747640603"></div>
        <div class="col storePad" id="product-component-1560746278564"></div>
    </div>
    <div class="storePad" id="product-component-2dd28a43eed"></div>
</div>

{% endblock %}
