{% block bgURL %}<style>body {background-image: url("/static/cogs.jpg");}</style>{% endblock %}

{% block main %}
<div class="contentBGFadeIn">
    <div class="fillerForBGFadeIn"></div>
    <div class="fillerForBGFadeIn"></div>
    <div class="fillerForBGFadeIn"></div>
    <div class="fillerForBGFadeIn"></div>
</div>
<div class="contentBG center">
    <div class="row p-2">
        <div class="col-md-6">
            <h1 class="contentText" style="text-decoration: underline">Bio</h1>
            <p class="contentText">A seven piece juggernaut of delightfully poetic, magically delicious, churning, spasedelic, steam- powered, carnival rock opera.</p>
        </div>
        <div class="col-md-6">
            <img src='/static/bandpics/tsFullBand.jpg' alt='Tommy Spase and The Alchemists'>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <img src='/static/bandpics/tommy.jpg' alt='Tommy SpaSe'>
        </div>
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">Tommy SpaSe</h1>
            <p class="contentText">The fearless captain of the SS Lollipop and the leader of The Alchemists.</p>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">Lady Di</h1>
            <p class="contentText">The beautiful and charming Lady Di.</p>
        </div>
        <div class="col-md-6">
            <img src='/static/bandpics/ladydi.jpg' alt='Lady Di'>
        </div>
    </div>

     <div class="row p-2">
        <div class="col-md-6">
            <img src='/static/bandpics/cesar.jpg' alt='Cesar Solo'>
        </div>
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">Cesar Solo</h1>
            <p class="contentText">Rockin' the lead guitar.</p>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">John</h1>
            <p class="contentText">John ticklin' the ivories.</p>
        </div>
        <div class="col-md-6">
            <img src='/static/bandpics/john.jpg' alt='John'>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <img src='/static/bandpics/kipp.jpg' alt='Kipp'>
        </div>
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">Kipp</h1>
            <p class="contentText">Rockin' the bass.</p>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-6">
            <h1 class="contentText" style="text-align: center; text-decoration: underline">Kyle</h1>
            <p class="contentText">Tying it all together on drums.</p>
        </div>
        <div class="col-md-6">
            <img src='/static/bandpics/kyle.jpg' alt='Kyle'>
        </div>
    </div>
</div>
{% endblock %}
