{% block bgURL %}<style>body {background-image: url("/static/MilkyWay.jpg");}</style>{% endblock %}
{% block main %}
<script></script>
<div class="contentBGFadeIn">
        <div class="fillerForBGFadeIn"></div>
        <div class="fillerForBGFadeIn"></div>
        <div class="fillerForBGFadeIn"></div>
        <div class="fillerForBGFadeIn"></div>
</div>
<div class="contentBG">
    <div class="row">
        <!-- Can add: &origin=https://tommyspase.com; at end of url to make control more secure -->
        <iframe class="col vid" id="player1" src="https://www.youtube.com/embed/02_n33eszgI?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="row">
        <iframe class="col-xs-12 col-md-6 vid sml" id="player2" src="https://www.youtube.com/embed/u7nLb38Tlqk?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        <iframe class="col-xs-12 col-md-6 vid sml" id="player3" src="https://www.youtube.com/embed/lIwiH1V06Lo?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="row">
        <iframe class="col-xs-12 col-md-6 vid sml" id="player4" src="https://www.youtube.com/embed/s0aCHU8dlKs?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        <iframe class="col-xs-12 col-md-6 vid sml" id="player5" src="https://www.youtube.com/embed/AbW9vGQ2R1k?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="row">
        <iframe class="col-xs-12 col-md-6 vid sml" id="player6" src="https://www.youtube.com/embed/yGG1W6Bmb4A?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        <iframe class="col-xs-12 col-md-6 vid sml" id="player7" src="https://www.youtube.com/embed/T60lbDO9YhQ?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="row">
        <iframe class="col-xs-12 col-md-6 vid sml" id="player8" src="https://www.youtube.com/embed/mAj4F6L8I2s?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        <iframe class="col-xs-12 col-md-6 vid sml" id="player9" src="https://www.youtube.com/embed/Vzt6d1BOkwA?rel=0&amp;wmode=opaque&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
    </div>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}
